<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div class="topinterface">
    <div class="logo">

        <b></b>
    </div>
    <div class="menu">
        <ul>
            <li>
        <a href="#">Home</a>
            </li>
            <li>
        <a href="#">About us</a>
            </li>
            <li>
        <a href="#">Archive</a>
            </li>
            <li>
        <a href="#">Support</a>
            </li>
        </ul>
    </div>

</div>
   
    <section>
       
        <form method="POST" action="home" class="form">
           
            <label for="name" class="label">Email-Id</label><input type="text" name="name" class="text"><br>
            <br>
           <label for="roll_no" class="label">Password</label> <input type="text" name="roll_no" class="text"><br>
            <br>
           <br>

          
            <input type="submit" class="submit" >
    
        </form>
    </section>
   
</body>
</html>