<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outpass</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div class="topinterface">
    <div class="logo">

        <b></b>
    </div>
    <div class="menu">
        <ul>
            <li>
        <a href="#">Home</a>
            </li>
            <li>
        <a href="#">About us</a>
            </li>
            <li>
        <a href="#">Archive</a>
            </li>
            <li>
        <a href="#">Support</a>
            </li>
        </ul>
    </div>

</div>
   
    <section>
       
        <form method="POST" action="home" class="form">
           
            <label for="name" class="label">Name</label><input type="text" name="name" class="text"><br>
            <br>
           <label for="roll_no" class="label">Roll No.</label> <input type="text" name="roll_no" class="text"><br>
            <br>
           

           <label for="reasons" class="label">Reason</label>

            <textarea name="reasons" id="" cols="22" rows="5" class="text">
            
          </textarea><br><br>
            <label for="date" class="label1">Date</label>
            <input type="date"><br>
            <br>
            <label for="time" class="label2">Time</label>
            <input type="time"><br> <br>
            <input type="submit" class="submit" >
    
        </form>
    </section>
   
</body>
</html>