{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outpass</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/intro.css' %}">
</head>
<style>

</style>
<body>
    <div class="topinterface">
        <div class="logo">
    
            <b></b>
        </div>
        <div class="menu">
            <ul>
                <li>
            <a href="#">Home</a>
                </li>
                <li>
            <a href="#">About us</a>
                </li>
                <li>
            <a href="#">Archive</a>
                </li>
                <li>
            <a href="#">Support</a>
                </li>
            </ul>
        </div>
    
    </div>
       <center> <h1>Welcome to our Website</h1></center>
       
       
       <section>
       
        <form method="POST" action="home" class="form">
           
            <a style="font-weight:bold" href="http://127.0.0.1:8000/home" >REGISTER</a> <br><br><br>
            <a style="font-weight:bold" href="http://127.0.0.1:8000/Approve" >ADMIN LOGIN</a>
            
           

           
          
    
        </form>
    </section>
         
</body>
</html>